/* Design by: NekoValkyrie */
.app{
    background-color: var(--background-color);
}

.header{
    /* background-image: linear-gradient(0, #68DAFF, #64D1F9); */
    background-image: linear-gradient(0, #222222, #1C1F24);
    height: var(--header-height);
    padding: 0 32px;
    box-shadow: 0 2px 5px 0 rgba(229, 229, 229, 0.5);
    position: relative;
    z-index: 1;
}

.header__nav{
    
}

.header__nav-logo-link{
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__nav-logo{
    padding: 4px 0;
}

.header__nav-logo-img{
    background-repeat: no-repeat;
    background-size: contain; /*Dùng để fix nếu ảnh quá to so với thẻ chứa nó*/
    background-position: center;
    width: 200px;
    height: 50px;
}

.header__nav-list{
    /* list-style: none; */
    margin: 0;
    padding-left: 0;
}

.header__nav-list-heading{
    color: var(--text-color);
}

.header__nav-link-roms,
.header__nav-link{
    position: relative;
    display: block;
    text-align: center;
    line-height: 68px;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
}

.header__nav-link-roms::before,
.header__nav-link::before{
    content: "";
    width: 40%;
    display: block;
    position: absolute;
    right: 50%;
    top: 80%;
    transform: translateX(50%);
    transition: width 0.5s;
    border-bottom: 2px solid var(--border-color);
}

.header__nav-link:hover,
.header__nav-link-roms:hover{
    color: rgba(229, 229, 229, 0.8);
}

.header__nav-link:hover::before,
.header__nav-link-roms:hover::before{
    width: 60%;
}

.header__nav-list:hover .header__nav-list-sub{
    display: block;
}

.header__nav-list-sub{
    position: absolute;
    top: 69px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background-color: #1C2025;
    list-style: none;
    padding: 6px 0;
    animation: inFade linear 0.2s;
    box-shadow: 0 1px 5px 0 rgba(229, 229, 229, 0.5);
    display: none;
}

.header__nav-list-sub::before{
    content: "";
    position: absolute;
    top: -15px;
    left: 274px;
    width: 137px;
    height: 30px;
    background-color: transparent;
}

.header__nav-item-sub{
    position: relative;
    margin: auto;
    text-align: center;
}

.header__nav-link-main{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    animation: inFade ease-in 0.3s, width linear 0.3s;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom, rgba(229, 229, 229, 0.3), rgba(135, 135, 135,0.2));
    border-radius: 2px;
    display: none;
}

.header__nav-item-sub:hover .header__nav-link-main{
    width: 90%;
    display: block;
}

.header__nav-item-sub-wrap{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    animation: inFade linear 0.2s;
}

.header__nav-item-sub-wrap::before{
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: 80%;
    transition: width 0.5s;
    border-bottom: 2px solid var(--border-color);
}

.header__nav-item-sub-wrap::after{
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: 0;
    transition: width 0.5s;
    border-bottom: 2px solid var(--blue-border-color);
}


.header__nav-item-sub:hover .header__nav-item-sub-wrap::after{
    width: 80%;
    display: block;
}

.header__nav-item-sub:hover .header__nav-link-sub{
    color: var(--primary-color);
}

.header__nav-link-sub{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 0 6px;
}

.header__nav-item-sub__img{
    background-repeat: no-repeat;
    background-size: contain; /*Dùng để fix nếu ảnh quá to so với thẻ chứa nó*/
    background-position: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.header__nav-user-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: auto 0;
}

.header__nav-user-list i{
    color: var(--text-color);
    margin-right: 4px;
}

.header__nav-user-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
}

.header__nav-user-notify{
    position: relative;
    margin-right: 8px;
}

.notify__number{
    position: absolute;
    top: -8px;
    right: -6px;
    width: 20px;
    height: 20px;
    padding: 0 2px;
    border-radius: 50%;
    text-align: center;
    color: var(--blue-border-color);
    background-color: #1e2024;
    border: 1px solid var(--blue-border-color);
}

.header__nav-user-message{
    position: relative;
    margin-left: 8px;
    margin-right: 16px;
}

.message__number{
    position: absolute;
    top: -8px;
    right: -6px;
    width: 20px;
    height: 20px;
    padding: 0 2px;
    border-radius: 50%;
    text-align: center;
    color: var(--blue-border-color);
    background-color: #1e2024;
    border: 1px solid var(--blue-border-color);
}

.header__nav-user-icon{
    font-size: 1.8rem;
    line-height: var(--header-height-mobile);
    margin: 0 10px;
    position: relative;
}

.header__nav-user-name{
    font-size: 1.6rem;
    line-height: 68px;
    color: var(--text-color);
    margin-left: 4px;
}

.header__nav-user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(8px);
    border: 1px solid var(--blue-border-color);
    margin-left: 16px;
}

.header__mobile-wrap{
    display: none;
}

.header__mobile-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: calc(var(--header-height) - 10px);
}

.header__mobile-menu::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    transition: width 0.5s;
    border-bottom: 2px solid var(--border-color);
}

i.header__mobile-menu-icon{
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
}

.header__mobile-menu-link{
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 16px;
}

.header__mobile-account{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: calc(var(--header-height) - 10px);
}

.header__mobile-account::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    transition: width 0.5s;
    border-bottom: 2px solid var(--border-color);
}

.header__mobile-account-link{
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
}


/*Slider Content*/
.slider{
    margin-top: var(--header-height);
    height: 50%;
    margin: 0 auto;
    background-color: var(rgb(135, 135, 135));
}

.slider__content-layout{
    position: relative;
}

.silder__content-img{
    padding-top: 50%; /*Khi sử dụng padding-top 100% của background-image thì nó sẽ chiếm hết theo chiều ngang của thẻ chứa nó(width và height) */
    background-repeat: no-repeat;
    background-size: contain; /*Dùng để fix nếu ảnh quá to so với thẻ chứa nó*/
    background-size: cover;
    background-position: center;
    animation: moveX ease-in 0.5s;
    filter: brightness(50%);
    display: block;
}

.slider__content-wrap{
    position: absolute;
    top: 40%;
    left: 10%;
}

.slider__content-heading{
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 400;
}

.slider__content-heading h1{
    margin: 0;
}

.slider__content-desc{
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 400;
    filter: brightness(80%);
    margin-top: 16px;
    margin-bottom: 32px;
}

.slider__content-btn{
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 500;
    border-radius: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.slider__content-btn:hover{
    filter: brightness(60%);
}
